<div id="container">
  <div id="sidebar">
    1 Sidebar
  </div>
  <div id="navbar">
    2 Navbar
  </div>
  <div id="searchBar">
    3 Second navbar with searchbar
  </div>
  <div id="main">
    <div id="policy">
      4 Privacy policy thing
    </div>
    <div id="welcome">
      5 Welcome thing
    </div>
    <div id="green">
      <p>asdfsgs</p>
      <p>asfsgag</p>
    </div>
    <div id="blue">
      <p>wasdasfa</p>
      <p>asdfafgag</p>
    </div>
    <div id="purple">
      <p>aaw;oeifawe</p>
    </div>
    <div id="other">
      9 Other row
    </div>
    <div id="sister">
      10 Sister row
    </div>
    <div id="languages">
      11 Language row
    </div>
  </div>
  <div id="footer">
    12 Footer
  </div>
</div>
