* {
  font-family: sans-serif, helvetica;
}

#container {
  display: grid;
  grid-template-rows: 40px 40px 2000px 100px;
  grid-template-columns: 150px 500px 500px;
  grid-gap: 16px;
}

#sidebar {
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #f9f9f9;
  border-right: 1px solid #a7d7f9;
}

#navbar {
  grid-column-start: 2;
  grid-column-end: 4;
}

#searchBar {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: #f9f9f9;
  border-bottom: 1px solid #a7d7f9;
}

#main {
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  grid-template-rows: 40px 40px 700px 300px 200px 300px 200px;
  grid-template-columns: 500px 500px;
  grid-gap: 16px;
}

#policy {
  grid-column-start:1;
  grid-column-end: 3;
  background-color: #f9f9f9;
  border: 1px solid #999999;
}

#welcome {
  grid-column-start:1;
  grid-column-end: 3;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

#green {
  grid-column-start:1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  background-color: #f5fffa;
  border: 1px solid #cef2e0;
}

#green p {
  background-color: #cef2e0;
  border: 1px solid #a3bfb1;
  margin-left: 6px;
  margin-right: 6px;
}

#blue {
  grid-column-start:2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  background-color: #f5faff;
  border: 1px solid #cedff2;
}

#blue p {
  background-color: #cedff2;
  border: 1px solid #a3b0bf;
  margin-left: 6px;
  margin-right: 6px;
}

#purple {
  grid-column-start:1;
  grid-column-end: 3;
  background-color: #faf5ff;
  border: 1px solid #ddcef2;
}

#purple p {
  background-color: #ddcef2;
  border: 1px solid #afa3bf;
  margin-left: 6px;
  margin-right: 6px;
}

#other {
  grid-column-start:1;
  grid-column-end: 3;
}

#sister {
  grid-column-start:1;
  grid-column-end: 3;
}

#languages {
  grid-column-start:1;
  grid-column-end: 3;
}

#footer {
  grid-column-start:2;
  grid-column-end: 4;
  border-top: 1px solid #a7d7f9;
}
